
<h3>Single Upload</h3>

<form method="post" enctype="multipart/form-data" asp-controller="Upload"asp-action="Index">


<input type="file" name="file" />

    <input type="submit" value="Upload" />

</form>
